---
import 'uno.css'
import '@unocss/reset/tailwind.css'

import SidebarPage from '~Components/sidebarPage.astro'
import Header from '~Components/header.astro'
import Brand from '~Components/brand.astro'
import Icon from '~Components/icon.vue'
import Tooltip from '~Components/tooltip.astro'

import social from '~Content/social.js'
import knowledge from '~Content/knowledge.js'

const title = 'Gui Barscevicius'
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body font-sans select-none>
    <SidebarPage>
      <aside
        slot="sidebar"
        class='flex flex-col md:h-full justify-between items-center px-4 py-2'
      >
        <Brand />

        <nav inline-flex flex-col>
          {social.map(item => <Icon {...item} />)}
        </nav>
      </aside>
      <main class="px-4 py-2">
        Content goes here!
      </main>
    </SidebarPage>
    <!-- {knowledge.map(item => <Tooltip text={item.name}><Icon {...item} /></Tooltip>)} -->
  </body>
</html>
