---
const { text } = Astro.props

const tooltipClasses = `
  tooltip invisible absolute rounded shadow-lg p-1
  bg-gray-100 left-1/2 -translate-x-1/2 -top-full z-50
`
---
{ text
  ? <div class='inline-block relative has-tooltip'>
    <span class={tooltipClasses}
    >{text}</span>
    <slot />
  </div>

  : <slot />
}

<style>
  .has-tooltip:hover .tooltip {
    @apply visible;
  }
</style>
