---
const { text } = Astro.props
---
{ text
  ? <div class='inline-block relative has-tooltip'>
    <span class='tooltip'
    >{text}</span>
    <slot />
  </div>

  : <slot />
}

<style>
  .tooltip {
    @apply invisible absolute rounded shadow-lg p-1.5
      text-gray-700 bg-white left-1/2 -translate-x-1/2
      -top-full z-50;
  }

  .has-tooltip:hover .tooltip {
    @apply visible;
  }

  .tooltip:after {
    @apply block absolute left-1/2 -translate-x-1/2
      top-full border-4 border-transparent border-t-white;
    content: '';
  }
</style>
